
.join-us-page-wrapper {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
     
    display: flex;
    flex-flow: column;
    background: #00225D;
    align-items: center;

    font-size: 16px;
    position: relative;

    overflow: hidden;
    z-index: 999999;

}



.bg-container {
    position: absolute;
    background-image: url("../../assets/images/join-us-bg(new).png");
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 100%;

    z-index: 9999;

    height: 50vh;
    width: 100vw;

    bottom: -5.0%;


}

.join-us-logo-box {
    height: auto;
    width: fit-content;

    display: flex;
    flex-flow: column;
    justify-content: center;

    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 16px;

    z-index: 999999;
}

.join-us-logo-box h1 {
    margin: 0px;
    padding: 0px;
    font-size: var(--larger-text);

    z-index: 999999;


}

.join-us-logo-box span {
    font-size: var(--smaller-text) !important;
    text-align: center;

    z-index: 999999;
}

.join-us-title-box {
    font-weight: bold;
    font-size: var(--larger-text);

    height: auto;
    width: 600px;

    display: flex;

    margin: 0px 0px 25px 0px;
    padding: 0px;

    justify-content: center;

    z-index: 999999;
}


.join-us-para-box {
    height: auto;
    width: 600px;
    color: rgba(255, 255, 255, var(--high-emphasis-text));
    font-size: var(--small-text);

    text-align: center;

    margin-bottom: 25px;

    z-index: 999999;
}

.join-us-form-box {
    height: auto;
    width: 600px;

    z-index: 999999;

    margin-bottom: 12.5px
}



.join-us-info-box {
    height: auto;
    width: 600px;
    color: rgba(255, 255, 255, var(--high-emphasis-text));

    text-align: center;

    margin-bottom: 25px;
    font-size: var(--smallest-text);

    z-index: 999999;
}

/* RCOS link styling */
.join-us-footer {
    height: auto;
    width: 600px;
    color: rgba(255, 255, 255, var(--high-emphasis-text));

    text-align: center;

    margin-bottom: 10px;
    font-size: var(--smallest-text);
    position: absolute;
    bottom: 0px;

    z-index: 999999;
}

.donate-button{
    z-index: 999999;

    text-decoration: none;

    background: linear-gradient(195deg,#D1CFFF,#63618d);
    color: #001949;
    /* text-transform: uppercase; */
    padding: 15px 25px; 
    height: 100%;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .22s ease;
    height: auto;
    border: none !important;
    border-radius: 5px !important;
    font-size: var(--small-text);
    font-weight: bold;
    box-sizing: border-box;
}   

.donate-button:hover{
    background: linear-gradient(195deg,#bcbaec 50%,#5d5a89);
    color: #1d4694;
}


/* FORM STUFF BELOW */

form {
    width: 100%;
    position: relative;

}

.join-us__form input {
    font-family: inherit;
    outline: none;
    font-size: 90%;
    padding: 10px 10px;
    border: none;
    /*display: block;*/
    /*border-radius: 2px;*/
    background-color: rgba(255, 255, 255, 0.05) !important; 
    border: 1px solid lightgrey;

    flex-basis: 50%;
    color: rgba(255, 255, 255, var(--high-emphasis-text));  
}

.join-us__form input::placeholder { color: rgba(255, 255, 255, var(--high-emphasis-text)) !important; }
.join-us__form input:focus {
    background-color: rgba(255, 255, 255, 0.05) !important; 
}

.join-us__form input:nth-child(1) {
    border-radius: 5px 0px 0px 0px;
    border-right: 0px;

}


.join-us__form input:nth-child(2) {
    border-radius: 0px 5px 0px 0px;

}

.join-us__form input:nth-child(3) {
    border-radius: 0px 0px 5px 5px;
    border-top: 0px;

}

.join-us__form input:-webkit-autofill { 
    -webkit-box-shadow: inset 0 0 0px 9999px #0F2d66 !important; 
    box-shadow: inset 0 0 0px 9999px #0F2d66 !important; 
    background-color: #0F2d66 !important;
    color: #fff !important;
} 

.join-us__form .join-us-email {
    width: 100%;
    padding: 10px 10px 10px 10px;
    flex-basis: 100% !important;

}
 
.join-us__form .submit {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(195deg,#D1CFFF,#63618d);
    color: #001949;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .22s ease;
    padding: 0px 10px;
    height: 100%;
    font-weight: bold;
    border-radius: 5px !important;
    border: 0px solid;
    font-size: var(--small-text);
    
}

.join-us__form .submit:hover {
    background: linear-gradient(195deg,#bcbaec 50%,#5d5a89);
    color: #1d4694;

}


.join-us-input-padding {
    width: 100%;
    height: auto;
    padding: 0px 150px 0px 0px;

    display: flex;
    flex-wrap: wrap;
}

.res-msg {
    /* padding-top: 5px */
    margin-top: 0px;
    margin-bottom: 12.5px;
    font-style: italic;
    width: 100%;
    display: flex;
    justify-content: center;
}

.join-us__form .special_req {
    width: 0px;
    height: 0px;
    padding: none;
    margin: none;
    display: none;
}



@media all and (max-width: 775px) { 
    .join-us-form-box {
        width: 350px;
        margin-bottom: 10px;

    }

    .join-us-page-wrapper{
        font-size: 14px;
    }

    .res-msg{
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-style: italic;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .join-us-info-box {
        width: 350px;

    }

    .join-us__form input {
        flex-basis: 100%;

    }

    .join-us__form input:nth-child(1) {
        border-radius: 5px 5px 0px 0px;
        border: 1px solid lightgrey;
        border-bottom: 0px;

    }
        
    .join-us__form input:nth-child(2) {
        border-radius: 0px 0px 0px 0px;
        border-bottom: 0px
    
    }
    
    .join-us__form input:nth-child(3) {
        border-radius: 0px 0px 5px 5px;
        border: 1px solid lightgrey;
    
    }

    /* RCOS link styling */
    .join-us-footer {
        height: auto;
        width: 600px;
        color: rgba(255, 255, 255, var(--high-emphasis-text));
    
        text-align: center;
    
        margin-bottom: 10px;
        font-size: var(--smallest-text);

        position: absolute;
        bottom: 0px;
    
        z-index: 999999;
    }

    .bg-container {
        height: 45vh;
        
    }

}

@media all and (max-width: 400px) { 

    .join-us-page-wrapper{
        font-size: 14px;
    }

    .res-msg{
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-style: italic;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .join-us-para-box {
        width: 350px;

    }

    .join-us__form .submit {
        top: 30px;
        left: 170px;
        height: 50%;
        width: 50%;
    
    }
    .join-us-form-box {
        height: auto;
        width: 300px;
    
        z-index: 999999;
    
        margin-bottom: 10px;

    }
    
    .join-us-info-box {
        width: 150px;
        height: 60px;

    }

    .join-us__form input {
        flex-basis: 100%;
        width: 100%;
        
    }

    .join-us__form input:nth-child(1) {
        border-radius: 5px 5px 0px 0px;
        border: 1px solid lightgrey;
        border-bottom: 0px;

    }
    
    .join-us__form input:nth-child(2) {
        border-radius: 0px 0px 0px 0px;
        border-bottom: 0px
    
    }
    
    .join-us__form input:nth-child(3) {
        border-radius: 0px 0px 5px 5px;
        border: 1px solid lightgrey;
    
    }

    /* RCOS link styling */
    .join-us-footer {
        height: auto;
        width: 600px;
        color: rgba(255, 255, 255, var(--high-emphasis-text));
    
        text-align: center;
    
        margin-bottom: 10px;
        font-size: var(--smallest-text);

        position: absolute;
        bottom:0px;
    
        z-index: 999999;
    }

    .bg-container {
        height: 45vh;
    }
}

/* iPhone SE and iPhone XR and iPhone 12 Pro and Pixel 5 and Samsung Galaxy S8+ and Samsung Galaxy S20 Ultra and iPad Air*/
@media all and (max-width: 820px) and (max-height: 1180px){

    .join-us-page-wrapper{

        font-size: 13px;
    }

    .join-us-logo-box {

        margin-bottom: 10px;
    }

    .bg-container {
        height: 45vh;
    }

}


