/*Styling for Drop Down Menu*/
.trigger{
    gap: 30px;
    background-color: #1e1e1e; 
    font-weight: bolder;
    height: 100%;
    width: fit-content;
    padding-inline: 10px;
    padding: 22px;
    text-decoration: none !important;
    font-size: var(--header-text-size);
    color: var(--primary-text-color);
    text-shadow: 2px 2px 2px rgba(44, 44, 44, 0.25);
    border: none;


}

.trigger:hover{

    border-bottom: 2.5px solid var(--primary-text-highlight-color);
    z-index: 9999999;
    color: var(--primary-text-highlight-color);
}

.content{

    background-color: #1e1e1e;
    box-shadow: 0 0 10px 0 #1e1e1e;
    border-radius: 6px;
}

.item{

    background-color: #1e1e1e;
    list-style-type: none;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item:focus{

    background-color: rgb(22 22 22);
}